html, body {
  margin: 20px;
}

.blocky-basic {
  height: 360px;
}

.blocky-basic-toolbox {
  display: none;
}

.titlebackground {
  background-image: url("/ebook-searcher-app/media/wallpapers/linkedglobe_wallpaper.jpg"); /*with opacity 0.15*/
  /*background-image: url("/ebook-searcher-app/media/wallpapers/blueglobe_wallpaper.jpg"); /*with opacity 0.4*/
  /*background-image: url("/ebook-searcher-app/media/wallpapers/bluesquares_wallpaper.jpg"); /*with opacity 0.3*/
  /*background-color: LightBlue;*/ /*LightBlue(with opacity 0.4), Gainsboro(with opacity 0.4) (Colour Palette =>> http://www.quackit.com/html/html_color_codes.cfm)*/
  position: absolute;
  width: 100%;
  height: 115px;
  top:0;
  left:0;
  z-index: -1;
  opacity: 0.15;
}

#titlejumbotron {
  margin-top: -100px;
  margin-bottom: 60px;
  margin-left: 10px;
  height: 130px;
  background:transparent;
}
