<h3>
	{{bs-label
		content	= "google-books_datasource"
		type		= "primary"}}

	{{bs-badge
		content	= pagenatedCountVsTotal}}
</h3>

{{bs-list-group
	contentBinding	= "model"
	selectedBinding	= "selectedEbook"}}

{{outlet}}
